// https://onexception.dev/news/1252440/reusing-scss-mixins
// https://sass-lang.com/guide/#partials
@use "fonts" as f;
@use "variables" as v;
@import url("../css/cssreset.css");
@import url("../css/attribution.css");

// TODO:
// add custom grid for medium screen sizes
// add image in first card

// General Rules //
///////////////////

@mixin card-light-text {
  color: v.$light-text;
  .card__profile-description {
    color: v.$light-text-50;
  }
  .card__testimonial-paragraph {
    color: v.$light-text-70;
  }
}

@mixin card-dark-text {
  color: v.$dark-text;
  .card__profile-description {
    color: v.$dark-text-50;
  }
  .card__testimonial-paragraph {
    color: v.$dark-text-70;
  }
}

// Page styling //
//////////////////

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: v.$light-grayish-blue;
  color: v.$dark-text;
  @include f.barlow-semi-condensed-medium;
}

.testimonials {
  display: grid;
  margin: 2em;
  gap: 2em;
}

.card {
  padding: 2em;
  border-radius: 0.5rem;
}

.card__profile {
  display: flex;
  div {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card__profile-name,
.card__profile-description {
  margin: 0;
  font-size: 0.65rem;
}

.card__profile-name,
.card__testimonial-title {
  @include f.barlow-semi-condensed-semibold;
}

.card__profile-picture {
  height: 2rem;
  border-radius: 50%;
}

#card-1 {
  background-color: v.$moderate-violet;
  @include card-light-text;
}

#card-2 {
  background-color: v.$very-dark-grayish-blue;
  @include card-light-text;
}

#card-3 {
  background-color: v.$white;
  @include card-dark-text;
}

#card-4 {
  background-color: v.$very-dark-blackish-blue;
  @include card-light-text;
}

#card-5 {
  background-color: v.$white;
  @include card-dark-text;
}

@media (min-width: 1200px) {
  // grid-template: rows / columns
  // grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end
  .testimonials {
    grid-template: repeat(2, 1fr) / repeat(4, 16rem);
  }

  #card-1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #card-2 {
    grid-area: 1 / 3 / 2 / 4;
  }

  #card-3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #card-4 {
    grid-area: 2 / 2 / 3 / 4;
  }

  #card-5 {
    grid-area: 1 / 4 / 3 / 5;
  }
}
