@use "fonts";
@use "variables" as v;
@import url("../css/cssreset.css");
@import url("../css/attribution.css");

// TODO:
// add custom grid for medium screen sizes
// use hlsa for custom text opacity

body {
  margin: 0;
}

.testimonials {
  display: grid;
  margin: 2em;
}

.card {
  padding: 2em;
}

#card-1 {
  background-color: v.$moderate-violet;
}

#card-2 {
  background-color: v.$very-dark-grayish-blue;
}

#card-3 {
  background-color: v.$white;
}

#card-4 {
  background-color: v.$very-dark-blackish-blue;
}

#card-5 {
  background-color: v.$white;
}

@media (min-width: 1024px) {
  // grid-template: rows / columns
  // grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end
  .testimonials {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }

  #card-1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #card-2 {
    grid-area: 1 / 3 / 2 / 4;
  }

  #card-3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #card-4 {
    grid-area: 2 / 2 / 3 / 4;
  }

  #card-5 {
    grid-area: 1 / 4 / 3 / 5;
  }
}
